<!-- service/service.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Service Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Service Page</h2>
        <ul>
            <li><a href="{% url 'generate_excel' %}">Ngram Service</a></li>
            <li><a href="{% url 'test' %}">test Service</a></li>
            <!-- لینک‌های دیگر خدمات خود را اینجا اضافه کنید -->
        </ul>
    </div>
</body>
</html>
